tr, td{
padding:3px;
border:1px solid #000000;
}

table{

}

.question_test{
border-color:#000000;
background-color:#ffffff; 
color:#000000;
padding-top:5px;
padding-bottom:5px;
}

.your_answer{
background-color:#ffffff;
border-color:#000000;
color:#000000;

}

.correct_answer{
background-color:#ffffff;
color:#000000;
}

.blank_row{
background-color:#ffffff;
border-color:#ffffff;
height:5px;
}


.incorrect_answer{
background-color:#ffffff;
border-color:#000000;
color:#000000;
}

.error{
color:#000000;
background-color:#ffffff;
border-color:#000000;
}